*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, .app-space {
	width: 100%;
	height: 100%;

	margin: 0;
	border: 0;
	padding: 0;
}

.app-space {
	position: relative;

	overflow: hidden;

	background-color: #000;

	display: flex;
	justify-content: center;
	align-items: center;
}

.app-container {
	position: relative;

	/* width and height set with JS */

	margin: 0;
	border: 0;
	padding: 0;

	overflow: hidden;
}

.app-canvas {
	position: absolute;

	/* width and height set with JS */

	margin: 0;
	border: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

a:hover {
	color: #bbb;
	text-decoration: underline;
}

.menu {
	position: absolute;

	visibility: hidden;

	font-family: Arial, sans-serif;

	overflow: auto;
}

.loading-menu {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #fff;
}

.main-menu {
	width: 100%;
	height: 100%;
}

.main-title {
	text-align: center;

	background-color: rgba(0, 0, 0, 0.6);
	font-size: 14vmin;
	color: #fff;

	margin: 5vmin 0;
	padding: 2vmin 0;

	transition-property: color;
	transition-duration: 0.6s;
	transition-timing-function: ease-in;

	animation-duration: 14.4s;
	animation-name: shadowoscillate;
	animation-iteration-count: infinite;
}

@keyframes shadowoscillate {
	from {
		text-shadow: -8px 0px 0px rgba(0, 0, 0, 0.4);
	}

	50% {
		text-shadow: 8px 0px 0px rgba(0, 0, 0, 0.4);
	}

	to {
		text-shadow: -8px 0px 0px rgba(0, 0, 0, 0.4);
	}
}

.main-nav {
	text-align: center;
}

.nightmare-wrapper {
	margin-top: 5vmin;
	margin-left: 50%;
	transform: translate(-50%, 0);

	background-color: rgba(0, 0, 0, 0.5);
	border: 0.8vmin solid #fff;

	width: 4%;
	height: 10%;

	transition-property: background-color;
	transition-duration: 0.4s;
}

.nightmare-wrapper:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.nightmare {
	position: absolute;

	width: 90%;
	height: 90%;

	margin: 5% 0 0 5%;
}

.nightmare-subtitle {
	font-size: 0.5em;
}

.reg-button {
	color: #fff;
	font-size: 6vmin;

	background-color: rgba(0, 0, 0, 0.5);

	border: 0.8vmin solid #fff;

	transition-property: background-color;
	transition-duration: 0.4s;
}

.reg-button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.about-menu {
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.9);
}

.about-title {
	margin: 3vmin 0;
	padding: 0;

	text-align: center;

	background-color: rgba(0, 0, 0, 0);
	font-size: 8vmin;
	color: #fff;
}

.about-info {
	margin: 0;
	border: 0;
	padding: 0;
	list-style-type: none;

	display: inline-block;

	color: #fff;
	font-size: 3vmin;

	margin: 0 0 6vmin 50%;
	transform: translate(-50%, 0);
}

.attribution-title {
	margin: 0 0 3vmin 0;
	padding: 0;

	text-align: center;

	background-color: rgba(0, 0, 0, 0);
	font-size: 6vmin;
	color: #fff;
}

.attribution-info {
	text-align: center;
}

.attribution-info > li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.attribution-info > li > *:nth-child(1) {
	margin: 0 8px 0 0;
}

.attribution-info > li > *:nth-child(2) {
	margin: 0 0 0 8px;
}

.about-nav {
	text-align: center;
}

.about-button {
	font-size: 4vmin;
	border-width: 0.6vmin;
}

.end-menu {
	width: 100%;
	height: 100%;
	text-align: center;
}

.end-title {
	margin: 4vmin 0 2.5vmin 0;

	font-size: 9vmin;
	color: #fff;
}

.end-stats {
	margin: 0 0 4vmin 0;

	font-size: 6vmin;
	color: #fff;
	font-weight: normal;
}

.score-stat {
	font-family: monospace;
	font-size: 1.5em;
}


.key {
	padding: 0.2em 0.6em;
	background: #eee;
	border-radius: 5px;
	border: 2px solid #aaa;
	box-shadow: inset 0 0 5px 2px #fff;

	font-size: 0.8em;
	color: #000;

	margin: 2px;
}

.instructions {
	position: absolute;
	top: 0;
	margin: -100% 0 0 50%;
	padding: 8px;
	transform: translate(-50%, 0);
	background-color: rgba(0, 0, 0, 0.6);

	font-family: serif;
	color: #fff;

	transition-property: margin;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.instruction-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.keys-holder {
	display: flex;
	flex-direction: row;
}
